@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.containerHeader{
    width: 1440px;
    margin: auto;
    box-sizing: border-box;
    height: 700px;
}
.headernavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.links{
    display: flex;
    flex-direction: row;
}
.link{
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
 
}
.link:hover{
    font-weight: bold;
}
.headerbtn{
    background-color: transparent;
    border: none;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
}
.headerbtn:hover{
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-weight: bold;
}
.logocontainer{
    display: flex;
    flex-direction: row;
}
.headerlogo{
    margin-right: 20px;
}
.containerAnnouncement{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.Announcement{
    width: 50%;
    position: relative;
    left: 20px;
}
.title{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    line-height: 80px;
}
.text{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    color: lightgray;
}
.btnAnnouncement{
    background-color: hsl(180, 66%, 49%);
    position: relative;
    top: 30px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.illustration{
    position: relative;
    left: 70px;
}
.btnAnnouncement:hover{
    cursor: pointer;
    background-color:  hsl(180, 53%, 60%);
}
.navbarMobile{
    display: none;
}
@media only screen and (max-width: 380px){
    .containerHeader{
        display: flex;
        flex-direction: column;
        width: 380px;
        box-sizing: border-box;
        height: 820px;
        box-sizing: border-box;
    }
    .links{
        display: none;
    }
    .login{
        display: none;
    }
    .illustration{
        width: 310px;
        height: 300px;
        position: relative;
        right: 100px;
        z-index: 1;
    }
    .title{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        width: 300px;
        margin-bottom: 20px;
    }
    .text{
        font-size: 20px;
        width: 300px;
        text-align: center;
        margin-bottom: 20px;
    }
    .btnAnnouncement{
        position: relative;
        left: 70px;
        font-weight: bold;
    }
    
    .headerlogo{
        width: 100px;
    }
    .headernavbar{
        display: flex;
        flex-direction: column;
        width: 380px;
        justify-content: left;
    }
    .containerAnnouncement{
        display: flex;
        flex-direction: column;
        right: 100px;
        box-sizing: border-box;

    }
    .Announcement{
        position: relative;
        left: 50px;
    }
    .navMobile{
        display: flex;
        flex-direction: column;
        position:absolute;
                width: 340px;
        height: 400px;
        justify-content: space-around;
        z-index: 2;
    }
    .navbarMobile{
        display: none;
    }
    .navbarMobile.active{
        display: flex;
        position: absolute;
        z-index: 4;
        left: 20px;
        border-radius: 15px;
        flex-direction: column;
        width: 340px;
        height: 400px;
        justify-content: space-around;
        background-color: hsl(260, 8%, 14%);
    }
    .Mobilelink{
        padding: 20px;
        width: 90%;
        position: relative;
        left: 18px;
        background-color: hsl(260, 8%, 14%);
        color: white;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        border: none;
    }
    .MobilelinkResources{
        padding: 20px;
        width: 90%;
        position: relative;
        left: 18px;
        background-color: hsl(260, 8%, 14%);
        color: white;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-bottom: 2px rgb(80, 80, 80) solid;
    }
    .MobilelinkSignIn{
        background-color: hsl(180, 66%, 49%);
        padding: 20px;
        color: white;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        border: none;
        width: 90%;
        border-radius: 35px;
        position: relative;
        left: 17px;
        margin-bottom: 30px;
    }
    .MenuHamburger{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        left: 300px;
        bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .MenuHamburguer.active{
        display: none;
    }
    .hamburguer{
        width: 35px;
        height: 5px;
        background-color: rgb(73, 73, 73);
        margin: 2px;
    }
    
    
}