@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.container{
    width: 1440px;
    margin: auto;
    box-sizing: border-box;
}
.headernavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.links{
    display: flex;
    flex-direction: row;
}
.link{
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
 
}
.link:hover{
    font-weight: bold;
}
.headerbtn{
    background-color: transparent;
    border: none;
    padding: 15px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
}
.headerbtn:hover{
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-weight: bold;
}
.logocontainer{
    display: flex;
    flex-direction: row;
}
.headerlogo{
    margin-right: 20px;
}
.containerAnnouncement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Announcement{
    width: 50%;
    position: relative;
    left: 20px;
}
.title{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    line-height: 80px;
}
.text{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    color: lightgray;
}
.btnAnnouncement{
    background-color: hsl(180, 66%, 49%);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
}
.illustration{
    position: relative;
    left: 75px;
}