*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containerFooter{
    background-color: hsl(260, 8%, 14%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin: auto;
    color: white;
    padding: 40px;
    box-sizing: border-box;
}
.containerLista{
    display: flex;
    flex-direction: row;
}
.logoFooter{
    color: white;
}
.lista{
    list-style: none;
    line-height: 20px;
    padding-left: 30px;
}
.itemF{
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: rgb(100, 100, 100);
}
.itemF:hover{
    cursor: pointer;
    color: white;
}
.iconMedia{
    margin: 10px;
    cursor: pointer;
}
.LogoFooter{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.itemTitle{
    color: white;
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 380px){
    .containerFooter{
        width: 380px;
        position: relative;
        top: 200px;
        height: 650px;
        display: flex;
        flex-direction: column;
    }
    .containerLista{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        right: 20px;
    }
    .LogoFooter{
        position: relative;
        left: 90px;
        width: 150px;
        
    }
    .containerIcons{
        position: relative;
        left: 55px;
        width: 200px;
    }
}
