.containerboost{
    background-image: url('./../assets/images/bg-boost-desktop.svg');
    height: 250px;
    background-color: hsl(255, 11%, 22%);
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.titleboost{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.btnboost{
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(180, 66%, 49%);
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 30px;
}
.btnboost:hover{
    background-color:  hsl(180, 53%, 60%);
}
@media only screen and (max-width: 380px){
    .containerboost{
        width: 380px;
        position: relative;
        top: 200px;
    }
}